<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="<%= root_path %>">WoodProjects</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="<%= root_path %>">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul>
    <span class="navbar-text">
      
    </span>
    
    <% if current_user %>
      <p class="font-weight-bold px-4 pt-3">Hello! <%= current_user.username %></p>
      <button class="btn btn-sm btn-danger" type="button"><%= link_to "Logout", '/logout' %></button>

      <% else %>
      <a class="btn btn-primary my-2 my-sm-0" href="<%= new_users_path %>">Sing Up</a>
      <!-- <button class="btn btn-sm align-middle btn-success mx-4" type="button"><%#= link_to 'Login', '/login' %></button> -->
      <!-- <button class="btn btn-sm align-middle btn-primary" type="button"><%#= link_to 'Sign Up', '/signup' %></button> -->
      <% end %>
  </div>
</nav>